/*分页样式*/
.layui-header{
	height:50px;
}
.layui-body{
	padding:0px 15px;
}
.layui-layout-admin .layui-body{
	top:50px;
}
.layui-layout-admin .layui-logo{
	color:#fff;
	font-size:28px;
	background:#23262E;
	line-height: 50px;
}
.layui-layout-admin .layui-logo a{
	color:#fff;
}
.layui-layout-admin .layui-header .layui-nav .layui-nav-item{
	height:50px;
	line-height: 50px;
}
.layui-layout-admin .layui-side{
	top:50px;
}
.layui-layout-admin .layui-side .layui-nav i{
	margin-right:10px;
}
.layui-layout-admin .layui-side .layui-nav-child dd{
	padding-left:20px;
}
.layui-form-label{
	width:100px;
}
.layui-input-block{
	margin-left: 130px;
}

.layui-layout-left{
	left:220px;
}

.layui-btn{
	margin-bottom:5px;
}

.layui-form-select dl{
	z-index:9999;
	max-height:250px;
}

/*菜单显示按钮*/
.menu {
    position: absolute !important;
    left :210px;
    line-height:50px;
    color:#ccc;
    z-index:999;
}

.menu li{
	float:left;
	margin-right:20px;
}

.menu  a{
    color:#ccc;
}

.menu .menu-ico{
	font-size:23px;
	cursor:pointer;
}

/*桌面快捷图标*/
.deskbox {
    height: 90px;
	border-radius:5px;
	color: #666;
    text-align: center;
    background:#fafafa;
    margin:5px;
}
.deskbox:hover{
	background:#63BA79;
	color:#fff;
}

.deskbox dd {
    font-size: 30px;
    padding-top:13px;
    line-height: 40px;
}
.deskbox dt {
   font-weight:normal;
}


.page {
    clear: both;
    margin-top: -10px;
    text-align: center;
    line-height: 2;
    color:#666;
}

.page a{
    color:#666;
}

.page span {
    margin: 0px 5px;
}

.page .pagenum {
    border: 1px dotted #ccc;
    background: #f2f2f2;
    padding: 1px 5px;
}

.page .absolutepage {
    border: 1px dotted #ccc;
    background: #ffffff;
    padding: 1px 5px;
}

.page select{
	border: 1px dotted #ccc;
	padding:0px 5px;
}

.readonly{
	background:#fafafa;
}

.table-input{
	padding:0px 15px!important;
}
.table-input input{
	height:30px;
	max-width:50px;
	padding:0px;
	text-align:center;
	color:#666;
}

.btn-del,.btn-add,.btn-mod{
	padding:0px 5px;
}

@media only screen and (max-width: 750px) {
    .layui-body {
        left:0px !important;
    }
    .layui-layout-admin .layui-footer{
    	left:0px !important;
    }
    .layui-layout-admin .layui-side{
    	display:none;
	}
	.layui-body{
		overflow-x: scroll;
	}
	.hidden-xs{
		display:none;
	}
	.layui-form-label{
		width:80px;
	}
	.layui-input-block{
		margin-left: 110px;
	}
}



