{include file='common/head.html'}

<div class="container">
	{if([$list])}
    <div class="panel panel-default">
        <div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> <a href="{url./admin/ContentSort/index}">内容栏目列表</a> 
            <span class="pull-right">{fun=get_btn_add()}</span>
        </div>
        <form action="{url./admin/ContentSort/mod}" method="post">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="checkbox" id="checkall" title="全选"></th>
                        <th>栏目名称</th>
                        <th>栏目编码</th>
                        <th>父编码</th>
                        <th>模型</th>
                        <th>列表页模板</th>
                        <th>内容页模板</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {foreach $sorts(key,value)}
                    <tr>
                    	<td>
                    		<input type="checkbox" class="checkbox checkitem" name="list[]" value="[value->id]">
                    		<input type="hidden" name="listall[]" value="[value->id]">
                    	</td>
                        <td>
                            [value->blank]
                            {if($value->son)}
                                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            {else}
                                <i class="fa fa-folder-o" aria-hidden="true"></i>
                            {/if}
                            [value->name]
                            {if($value->subname)}
                            	|  [value->subname]
                            {/if}
                        </td>
                        <td>[value->scode]</td>
                        <td>[value->pcode]</td>
                        <td>
                        {foreach $models(key2,value2)}	
                        	{if($value2->mcode==$value->mcode)}
								[value2->name]
							{/if}                        	
		                {/foreach}
						</td>
                        <td>[value->listtpl]</td>
                        <td>[value->contenttpl]</td>
                        <td><input type="text" class="list-input" name="sorting[]" value="[value->sorting]"></td>
                       	<td>
                            {if($value->status)}
                            <a href="{url./admin/'.C.'/mod/scode/'.$value->scode.'/field/status/value/0}"><i class='fa fa-toggle-on' title="点击禁用"></i></a>
                            {else}
                            <a href="{url./admin/'.C.'/mod/scode/'.$value->scode.'/field/status/value/1}"><i class='fa fa-toggle-off' title="点击启用"></i></a>
                            {/if}
                        </td>
                        <td>
                            {fun=get_btn_del($value->scode,'scode')}
                            {fun=get_btn_mod($value->scode,'scode')}
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
     	<button type="submit" name="submit" value="sorting" class="btn btn-primary btn-fun"><i class="fa fa-save" aria-hidden="true"></i> 保存排序</button>
        </form>
     </div>
     
	{/if} 
	
	{if([$add])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> 内容栏目新增 
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body">  

			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#basic" role="tab" data-toggle="tab">基本选项</a></li>
			    <li role="presentation"><a href="#senior" role="tab" data-toggle="tab">高级选项</a></li>
			</ul>
			
            <form action="{url./admin/ContentSort/add}" method="post" class="col-sm-6">
				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="basic">
		                <div class="form-group">
		                     <label for="pcode">父栏目</label>
		                     <select name="pcode" id="pcode" class="form-control">
		                        <option value="0" >顶级栏目</option>
		                        {$sort_select}
		                    </select>
		                </div>
		                
		                <div class="form-group">
		                     <label for="name">栏目名称</label>
		                     <input type="text" name="name" id="name"  class="checknone form-control" >
		                </div>
		                
		                <div class="form-group">
		                     <label for="mcode">内容模型</label>
		                     <select name="mcode" id="mcode" class="form-control checknone" onchange="settpl()">
		                     	<option value="">请选择内容模型</option>
		                        {foreach $models(key,value)}	                        	
		                        	<option value="[value->mcode]" data-type="[value->type]"  data-listtpl="[value->listtpl]" data-contenttpl="[value->contenttpl]" >[value->name]</option>
		                        {/foreach}
		                    </select>
		                    <script>
		                    	//设置模板
		                    	function settpl(){
		                    		var type = $("#mcode option:selected").data('type');
		                    		var listtpl = $("#mcode option:selected").data('listtpl');
		                    		var contenttpl = $("#mcode option:selected").data('contenttpl');
		                    		
		                    		$("#type").val(type);
		                    		addOptionValue("listtpl",listtpl,listtpl);
		                    		addOptionValue("contenttpl",contenttpl,contenttpl);
		                    		$("#listtpl").val(listtpl);
		                    		$("#contenttpl").val(contenttpl);
		                    	}
		                    	
		                    	//如果不存在就增加
		                    	function addOptionValue(id,value,text) {  
		                    	    if(!isExistOption(id,value)){$('#'+id).append("<option value="+value+">"+text+"</option>");}      
		                    	} 
		                    	
		                    	//判断是否存在
		                    	function isExistOption(id,value) {  
		                    	    var isExist = false;  
		                    	    var count = $('#'+id).find('option').length;  
		                    	      for(var i=0;i<count;i++)     
		                    	      {     
		                    	         if($('#'+id).get(0).options[i].value == value)     
		                    	             {     
		                    	                   isExist = true;     
		                    	                        break;     
		                    	                  }     
		                    	        }     
		                    	        return isExist;  
		                    	} 
		                    </script>
		                </div>

		                <div class="form-group">
		                     <label for="listtpl">列表页模板</label>
		                     <input type="hidden" value="1" name="type" id="type">
		                     <select name="listtpl" id="listtpl" class="form-control">
		                     	<option value="">无</option>
		                     	{foreach $tpls(key,value)}
		                        	<option value="[value]">[value]</option>
		                        {/foreach}
		                     </select>
		                </div>
		                
		                <div class="form-group">
		                     <label for="contenttpl">内容页模板</label>
		                     <select name="contenttpl" id="contenttpl" class="form-control">
		                       <option value="">无</option>
		                       {foreach $tpls(key,value)}
		                        	<option value="[value]">[value]</option>
		                        {/foreach}
		                     </select>
		                </div>
		                
		                <div class="form-group">
		                	<label>状态</label>
		                    <div>
		                    	<label class="radio-inline"><input type="radio" name="status" value="1" checked="checked">显示</label>
		                    	<label class="radio-inline"><input type="radio" name="status" value="0">隐藏</label>
		                    </div>
		                </div>
	
					</div>
					
				    <div role="tabpanel" class="tab-pane" id="senior">
			    		<div class="form-group">
		                     <label for="subname">栏目副名称</label>
		                     <input type="text" name="subname" id="subname"  class="form-control" >
		                </div>
		                <div class="form-group">
		                     <label for="outlink">跳转链接</label>
		                     <input type="text" name="outlink" id="outlink"  class="form-control" >
		                </div>
			            
	                	<div class="form-group">
		               		 <label for="ico">栏目缩略图</label>
		               		 <div class="input-group">
			               		 <input type="text" name="ico" id="ico" class="form-control">  
			               		 <div class="input-group-btn">
			               		 	<button type="button" class="btn btn-primary upload" data-target="#ico">选择图片</button>
			               		</div>
		               		</div>
		                </div>
		                
		                <div class="form-group">
		               		 <label for="pic">栏目大图</label>
		               		 <div class="input-group">
			               		 <input type="text" name="pic" id="pic"  class="form-control">  
			               		 <div class="input-group-btn">
			               		 	<button type="button" class="btn btn-primary upload" data-target="#pic">选择图片</button>
			               		</div>
		               		</div>
		                </div>
		
		                <div class="form-group">
		                	<label for="keywords">栏目关键字</label>
		                    <input type="text" name="keywords" class="form-control">
		                </div>

		                <div class="form-group">
		                	<label for="description">栏目描述</label>
		                	<textarea name="description" class="form-control"></textarea>
		                </div>
		                
					</div>
				  </div>
				  <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> 新 增</button>	
            </form>
        </div>
    </div>
	{/if}
	
	{if([$mod])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> 内容栏目修改
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body"> 
        
        	<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#basic" role="tab" data-toggle="tab">基本选项</a></li>
			    <li role="presentation"><a href="#senior" role="tab" data-toggle="tab">高级选项</a></li>
			</ul>
			
            <form action="{url./admin/ContentSort/mod/scode/'.[$get.scode].'}"  method="post"  class="col-sm-6">
            	<div class="tab-content">
	            	<div role="tabpanel" class="tab-pane active" id="basic">
		            	<div class="form-group">
		                     <label for="pcode">父栏目</label>
		                     <select name="pcode" id="pcode" class="form-control">
		                        <option value="0" >顶级栏目</option>
		                        {$sort_select}
		                    </select>
		                </div>
		                
		                <div class="form-group">
		                     <label for="name">栏目名称</label>
		                     <input type="text" name="name" id="name" value="{$sort->name}" class="checknone form-control" >
		                </div>
		                
		                <div class="form-group">
		                     <label for="type">内容模型</label>
		                     <select name="mcode" id="mcode" class="form-control checknone" onchange="settpl()">
		                     	<option value="">请选择内容模型</option>
		                        {foreach $models(key,value)}	                        	
		                        	<option value="[value->mcode]" {if($value->mcode==[$sort->mcode])}selected{/if} data-type="[value->type]"  data-listtpl="[value->listtpl]" data-contenttpl="[value->contenttpl]" >[value->name]</option>
		                        {/foreach}
		                    </select>
		                    <script>
		                    	//设置模板
		                    	function settpl(){
		                    		var type = $("#mcode option:selected").data('type');
		                    		var listtpl = $("#mcode option:selected").data('listtpl');
		                    		var contenttpl = $("#mcode option:selected").data('contenttpl');
		                    		
		                    		$("#type").val(type);
		                    		addOptionValue("listtpl",listtpl,listtpl);
		                    		addOptionValue("contenttpl",contenttpl,contenttpl);
		                    		$("#listtpl").val(listtpl);
		                    		$("#contenttpl").val(contenttpl);
		                    	}
		                    	
		                    	//如果不存在就增加
		                    	function addOptionValue(id,value,text) {  
		                    	    if(!isExistOption(id,value)){$('#'+id).append("<option value="+value+">"+text+"</option>");}      
		                    	} 
		                    	
		                    	//判断是否存在
		                    	function isExistOption(id,value) {  
		                    	    var isExist = false;  
		                    	    var count = $('#'+id).find('option').length;  
		                    	      for(var i=0;i<count;i++)     
		                    	      {     
		                    	         if($('#'+id).get(0).options[i].value == value)     
		                    	             {     
		                    	                   isExist = true;     
		                    	                        break;     
		                    	                  }     
		                    	        }     
		                    	        return isExist;  
		                    	} 
		                    </script>
		                </div>

		                <div class="form-group">
		                     <label for="listtpl">列表页模板</label>
		                     <input type="hidden" value="1" name="type" id="type">
		                     <script>$("#type").val($("#mcode option:selected").data('type'));</script>
		                     <select name="listtpl" id="listtpl" class="form-control">
		                        <option value="{$sort->listtpl}">{$sort->listtpl}</option>
		                        {foreach $tpls(key,value)}
		                        	<option value="[value]">[value]</option>
		                        {/foreach}
		                     </select>
		                </div>
		                
		                <div class="form-group">
		                     <label for="contenttpl">内容页模板</label>
		                     <select name="contenttpl" id="contenttpl" class="form-control">
		                        <option value="{$sort->contenttpl}">{$sort->contenttpl}</option>
		                        {foreach $tpls(key,value)}
		                        	<option value="[value]">[value]</option>
		                        {/foreach}
		                     </select>
		                </div>
		                
		               <div class="form-group">
		                	<label>状态</label>
		                    <div>
		                    	<label class="radio-inline"><input type="radio" name="status" value="1" {if([$sort->status]==1)}checked="checked"{/if}>显示</label>
		                    	<label class="radio-inline"><input type="radio" name="status" value="0" {if([$sort->status]==0)}checked="checked"{/if}>隐藏</label>
		                    </div>
		                </div>
		                
	            	</div>
	            	
	            	<div role="tabpanel" class="tab-pane" id="senior">
	            	
	            		<div class="form-group">
		                     <label for="subname">栏目副名称</label>
		                     <input type="text" name="subname" id="subname" value="{$sort->subname}" class="form-control" >
		                </div>
		                
	            		<div class="form-group">
		                     <label for="outlink">跳转链接</label>
		                     <input type="text" name="outlink" id="outlink" value="{$sort->outlink}"  class="form-control" >
		                </div>
		                
		                <div class="form-group">
		               		 <label for="ico">栏目缩略图</label>
		               		 <div class="input-group">
			               		 <input type="text" name="ico" id="ico" value="{$sort->ico}" class="form-control">  
			               		 <div class="input-group-btn">
			               		 	<button type="button" class="btn btn-primary upload" data-target="#ico">选择图片</button>
			               		</div>
		               		</div>
		                </div>
		                
		                <div class="form-group">
		               		 <label for="pic">栏目大图</label>
		               		 <div class="input-group">
			               		 <input type="text" name="pic" id="pic" value="{$sort->pic}" class="form-control">  
			               		 <div class="input-group-btn">
			               		 	<button type="button" class="btn btn-primary upload" data-target="#pic">选择图片</button>
			               		</div>
		               		</div>
		                </div>
		                
		                <div class="form-group">
		                	<label for="keywords">栏目关键字</label>
		                    <input type="text" name="keywords" value="{$sort->keywords}" class="form-control">
		                </div>
		
		                <div class="form-group">
		                	<label for="description">栏目描述</label>
		                	<textarea name="description" class="form-control">{$sort->description}</textarea>
		                </div>
	            	</div>
            	</div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> 保 存</button>
                
            </form>
    	</div>
    </div>
	{/if} 

</div>
{include file='common/upload.html'}
{include file='common/foot.html'}
