{include file='common/head.html'}

<div class="container">
	{if([$list])}
    <div class="panel panel-default">
        <div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> <a href="{url./admin/ExtField/index}">扩展字段列表</a> 
            <span class="pull-right">{fun=get_btn_add()}</span>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
            	<thead>
                    <tr>
                    	<th>序号</th>
                        <th>内容模型</th>
                        <th>字段描述</th>
                        <th>字段名称</th>
                        <th>字段类型</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $extfields(key,value)}
                    <tr>
                    	<td>[num]</td>
                    	<td>
                    		{foreach $models(key2,value2,num2)}	
                        		{if($value2->mcode==$value->mcode)}
									[value2->name]
								{/if}                        	
		                	{/foreach}
						</td>
                        <td>[value->description]</td>
                        <td>[value->name]</td>
                        <td>
                        	{if($value->type==1)}单行文本{/if}
                    		{if($value->type==2)}多行文本{/if}
                    		{if($value->type==3)}单选按钮{/if}
                    		{if($value->type==4)}多选按钮{/if}
                    		{if($value->type==5)}图片上传{/if}
                    		{if($value->type==6)}附件上传{/if}
                    		{if($value->type==7)}日期选择{/if}
						</td>
                        <td>
                            {fun=get_btn_del($value->id)}
                            {fun=get_btn_mod($value->id)}
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
     </div>
	<div class="page">{$pagebar}</div>
	{/if} 
	
	{if([$add])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> 扩展字段新增 
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body">
            <form action="{url./admin/ExtField/add}" method="post" class="col-sm-6">
            	<div class="form-group">
                	<label for="gid">内容模型</label>
                	<select name="mcode" id="mcode" class="form-control checknone">
                     	<option value="">请选择内容模型</option>
                        {foreach $models(key,value)}	                        	
                        	<option value="[value->mcode]">[value->name]</option>
                        {/foreach}
                    </select>
                </div>
                
                <div class="form-group">
                	<label for="description">字段描述</label>
                    <input type="text" name="description" class="form-control checknone" placeholder="如：产品价格">
                </div>
                
                <div class="form-group">
                	<label for="name">字段名称</label>
                    <input type="text" name="name" class="form-control checknone" placeholder="如：price" >
                </div>
                
                <div class="form-group">
                	<label for="type">字段类型</label>
                    <select name="type" class="form-control checknone" onchange="showhide(this)">
                    	<option value="1">单行文本</option>
                    	<option value="2">多行文本</option>
                    	<option value="3">单选按钮</option>
                    	<option value="4">多选按钮</option>
                    	<option value="5">图片上传</option>
                    	<option value="6">附件上传</option>
                    	<option value="7">日期选择</option>
                    </select>
                </div>
                
                <div class="form-group" id="value">
                	<label for="value">选择按钮值（多个选项用逗号隔开或者回车）</label>
                	<textarea  class="form-control" name="value" ></textarea>
                	<script>
                		$("#value").hide();
                    	//设置模板
                    	function showhide(obj){
                    		var value=$(obj).val();
                    		if(value==3 || value==4){
                    			$("#value").show();
                    		}else{
                    			$("#value").hide();
                    		}
                    	}
		             </script>
                </div>
                
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> 新 增</button>
            </form>
        </div>
    </div>
	{/if}
	
	{if([$mod])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> 扩展字段修改 
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body">
            <form action="{url./admin/ExtField/mod/id/'.[$get.id].'}?{$server.QUERY_STRING}" method="post" class="col-sm-6">
            	<div class="form-group">
                	<label for="gid">内容模型</label>
                	<select name="mcode" id="mcode" class="form-control checknone">
                     	<option value="">请选择内容模型</option>
                        {foreach $models(key,value)}	                        	
                        	<option value="[value->mcode]" {if($value->mcode==[$extfield->mcode])}selected{/if}>[value->name]</option>
                        {/foreach}
                    </select>
                </div>
                
                <div class="form-group">
                	<label for="name">字段描述</label>
                    <input type="text" name="description" class="form-control checknone"   value="{$extfield->description}" placeholder="如：产品价格">
                </div>
                
                <div class="form-group">
                	<label for="name">字段名称</label>
                    <input type="text" name="name" class="form-control checknone" readonly value="{$extfield->name}"  placeholder="如：price">
                </div>
                
                <div class="form-group">
                	<label for="type">字段类型</label>
                    <select name="type" class="form-control checknone" onchange="showhide(this)">
                    	{if([$extfield->type]==2)}
                    		<option value="2" selected>多行文本</option>
                    	{/if}
                    	
                    	{if([$extfield->type]==7)}
                    		<option value="7" selected>日期选择</option>
                    	{/if}
                    	
                    	{if([$extfield->type]!=2 && [$extfield->type]!=7)}
                    		<option value="1" {if([$extfield->type]==1)}selected{/if}>单行文本</option>
                    		<option value="3" {if([$extfield->type]==3)}selected{/if}>单选按钮</option>
                    		<option value="4" {if([$extfield->type]==4)}selected{/if}>多选按钮</option>
                    		<option value="5" {if([$extfield->type]==5)}selected{/if}>图片上传</option>
                    		<option value="6" {if([$extfield->type]==6)}selected{/if}>附件上传</option>
                    	{/if}
                    </select>
                </div>
                
               <div class="form-group" id="value">
                	<label for="value">选择按钮值（多个选项用分号隔开或者回车）</label>
                	<textarea  class="form-control" name="value" >{$extfield->value}</textarea>
                	<script>
                	    {if([$extfield->type]==3 || [$extfield->type]==4)}
                			$("#value").show();
                		{else}
                			$("#value").hide();
                		{/if}
                    	//设置模板
                    	function showhide(obj){
                    		var value=$(obj).val();
                    		if(value==3 || value==4){
                    			$("#value").show();
                    		}else{
                    			$("#value").hide();
                    		}
                    	}
		             </script>
                </div>
                
 				<button type="submit"  class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> 保 存</button>
            </form>
       </div>
    </div>
	{/if} 

</div>

{include file='common/foot.html'}
