{include file='common/head.html'}

<div class="layui-body">
	{if([$list])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">留言列表</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
	  	   		<table class="layui-table">
	            	<thead>
	                    <tr>
	                        <th>序号</th>
	                        <th>联系人</th>
	                        <th>电话</th>
	                        <th>内容</th>
	                        <th>时间</th>
	                        <th>状态</th>
	                        <th>操作</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {foreach $messages(key,value,num)}
	                    <tr>
	                        <td>[num]</td>
	                        <td>[value->contacts]</td>
	                        <td>[value->mobile]</td>
	                        <td>[value->content]</td>
	                        <td>[value->create_time]</td>
	                        <td>
	                            {if($value->status)}
	                            <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/0}"><i class='fa fa-toggle-on' title="点击前端隐藏"></i></a>
	                            {else}
	                            <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/1}"><i class='fa fa-toggle-off' title="点击前端显示"></i></a>
	                            {/if}
	                        </td>
	                        <td>
	                            {fun=get_btn_del($value->id)}
	                            {fun=get_btn_mod($value->id,'id','回复')}
	                        </td>
	                    </tr>
	                    {/foreach}
	                </tbody>
	            </table>
	            <div class="page">{$pagebar}</div>
	  	   </div>
	  </div>
	</div>
	{/if}
	
	{if([$mod])}
	
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this">区域修改</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  		 <form action="{url./admin/Message/mod/id/'.[$get.id].'}?{$server.QUERY_STRING}" method="post" class="layui-form">
	  		 	<div class="layui-form-item">
                     <label class="layui-form-label">回复内容</label>
                     <div class="layui-input-block">
                     	<textarea name="recontent" placeholder="请输入回复内容" class="layui-textarea">{$message->recontent}</textarea>
                     </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                    	<input type="radio" name="status" value="1" title="显示" {if([$message->status]==1)}checked="checked"{/if}>
						<input type="radio" name="status" value="0" title="隐藏" {if([$message->status]==0)}checked="checked"{/if}>
                    </div>
                </div>
                
	  		 	<div class="layui-form-item">
				 <div class="layui-input-block">
				    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
				    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    {fun=get_btn_back()}
				 </div>
			   </div>
			   
	  		 </form>
	  	</div>
	  </div>
	 </div>

	{/if} 
	
</div>

{include file='common/foot.html'}