{include file='common/head.html'}

<div class="container">
	{if([$list])}
    <div class="panel panel-default">
        <div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> <a href="{url./admin/Single/index}">单页内容列表</a> 
            <span class="pull-right"><!-- {fun=get_btn_add()} --></span>
        </div>
        
        <div class="panel-body">
        	<form action="{url./admin/Single/index}" method="get" class="col-sm-6">
        		<div class="input-group"> 
        			<div class="input-group-btn">
                        <select name="field" class="form-control input-sm" style="width:auto;">
                                <option value="a.title" {if(get('field')=='a.title')}selected="selected" {/if} >文章标题</option>
                                <option value="a.content" {if(get('field')=='a.content')}selected="selected" {/if}>文章内容</option>
                                <option value="b.name" {if(get('field')=='b.name')}selected="selected" {/if}>栏目名称</option>
                        </select>
                    </div>
                    <input type="text" name="keyword" class="form-control input-sm"  value="{$get.keyword}" placeholder="请输入要查找的内容！" >
                    <div class="input-group-btn">
                     	<button type="submit" class="btn btn-default btn-sm">查找</button>
                    </div>
        		</div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
            	<thead>
                    <tr>
                    	<th>序号</th>
                    	<th>内容ID</th>
                        <th>栏目</th>
                        <th>标题</th>
                        <th>发布时间</th>
                        <th>状态</th>
                        <th>访问量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $contents(key,value)}
                    <tr>
                    	<td>[num]</td>
                    	<td>[value->id]</td>
                        <td>[value->sort_name]</td>
                        <td>[value->title]</td>
                        <td>[value->date]</td>
                        <td>
                        {if($value->status)}
	                        <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/0}"><i class='fa fa-toggle-on' title="点击关闭"></i></a>
	                        {else}
	                        <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/1}"><i class='fa fa-toggle-off' title="点击开启"></i></a>
	                    {/if}
	                    </td>
	                    <td>[value->visits]</td>
                        <td>
                        	{fun=get_btn_more($value->id)}
                             <a href="{url./admin/Single/mod/mcode/'.$value->mcode.'/id/'.$value->id.'}?backurl={URL}" class="btn-mod" title="修改内容"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
     </div>
	<div class="page">{$pagebar}</div>
	{/if} 
	
	{if([$more])}
		<div class="panel panel-default">
	     	<div class="panel-heading">
	        	<i class="fa fa-list" aria-hidden="true"></i> 单页内容详情 
	        	<span class="pull-right">{fun=get_btn_back()}</span>
	        </div>
	        <div class="panel-body">
	        	<div class="row">
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>栏目：</dt>
		        		<dd>{$content->sort_name}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>标题：</dt>
		        		<dd>{$content->title}</dd>
		        	</dl>
	        	</div>
	        	
	        	<div class="row">
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>标题颜色：</dt>
		        		<dd>{$content->titlecolor}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>副标题：</dt>
		        		<dd>{$content->subtitle}</dd>
		        	</dl>
	        	</div>
	        	
	        	<div class="row">
	        		<dl class="dl-horizontal col-sm-6">
		        		<dt>自定义路径名：</dt>
		        		<dd>{$content->filename}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>作者：</dt>
		        		<dd>{$content->author}</dd>
		        	</dl>
		        	
	        	</div>

	        	<div class="row">
	        		<dl class="dl-horizontal col-sm-6">
		        		<dt>来源：</dt>
		        		<dd>{$content->source}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>转外链接：</dt>
		        		<dd>{$content->outlink}</dd>
		        	</dl>
		        	
	        	</div>
	        	
	        	<div class="row">
	        		<dl class="dl-horizontal col-sm-6">
		        		<dt>发布时间：</dt>
		        		<dd>{$content->date}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>缩略图：</dt>
		        		<dd>{$content->ico}</dd>
		        	</dl>
		        	
	        	</div>
	        	
	        	<div class="row">
	        		<dl class="dl-horizontal col-sm-6">
		        		<dt>图片：</dt>
		        		<dd>{$content->pics}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>附件：</dt>
		        		<dd>{$content->enclosure}</dd>
		        	</dl>
		        	
	        	</div>
	        	
	        	<div class="row">
	        		<dl class="dl-horizontal col-sm-6">
		        		<dt>状态：</dt>
		        		<dd>{if([$content->status])}启用{else}禁用{/if}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>关键字：</dt>
		        		<dd>{$content->keywords}</dd>
		        	</dl>
	        	</div>
	        	
	        	<div class="row">
		        	<dl class="dl-horizontal col-sm-12">
		        		<dt>描述：</dt>
		        		<dd>{$content->description}</dd>
		        	</dl>
	        	</div>
	        	
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>访问量：</dt>
		        		<dd>{$content->visits}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>支持数/反对数：</dt>
		        		<dd>{$content->likes}/{$content->oppose}</dd>
		        	</dl>
	        	</div>
	        	
	        	<div class="row">
	        		<dl class="dl-horizontal col-sm-6">
		        		<dt>创建人员：</dt>
		        		<dd>{$content->create_user}</dd>
		        	</dl>
	        		<dl class="dl-horizontal col-sm-6">
		        		<dt>更新人员：</dt>
		        		<dd>{$content->update_user}</dd>
		        	</dl>
	        	</div>
	        	
	        	<div class="row">
	        		<dl class="dl-horizontal col-sm-6">
		        		<dt>创建时间：</dt>
		        		<dd>{$content->create_time}</dd>
		        	</dl>
		        	<dl class="dl-horizontal col-sm-6">
		        		<dt>更新时间：</dt>
		        		<dd>{$content->update_time}</dd>
		        	</dl>
	        	</div>
	        </div>
        </div>
	{/if} 
	
	{if([$mod])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> {$content->sort_name}内容修改 
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body">
        	<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#basic" role="tab" data-toggle="tab">基本内容</a></li>
			    <li role="presentation"><a href="#senior" role="tab" data-toggle="tab">高级内容</a></li>
			</ul>
			
            <form action="{url./admin/Single/mod/id/'.[$get.id].'}?{$server.QUERY_STRING}" method="post" id="edit">
            	<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="basic">
		            	<div class="row">
			                <div class="form-group col-sm-6">
			                	<label for="title">标题</label>
			                    <input type="text" name="title" value="{$content->title}" class="form-control checknone">
			                </div>
		                </div>
		                
		                {foreach $extfield(key,value)}
		                	{if($value->type==1)}
		                	<div class="row">
		                		<div class="form-group col-sm-6">
			                		<label for="title">[value->description]</label>
			                    	<input type="text" name="[value->name]" value="{$content->{$value->name}}" class="form-control">
			                	</div>
			                </div>
		                	{/if}
		                	
		                	{if($value->type==2)}
		                	<div class="row">
		                		<div class="form-group col-sm-6">
			                		<label for="title">[value->description]</label>
			                		<textarea name="[value->name]" class="form-control">{php}$name=$value->name;echo str_replace('<br>', "\r\n",$this->vars['content']->$name);{/php}</textarea>
			                	</div>
			                </div>
		                	{/if}
		                	
		                    {if($value->type==3)}
		                	<div class="row">
		                		<div class="form-group col-sm-6">
			                		<label for="title">[value->description]</label>
			                		<div>
			                			{php}
			                				$radios=explode(',',$value->value);
			                				$name=$value->name;
			                				foreach ($radios as $value2) {
			                					if($this->vars['content']->$name==$value2){
                									echo '<label class="radio-inline"><input type="radio" name="'.$value->name.'" value="'.$value2.'" checked>'.$value2.'</label>';
                								}else{
                									echo '<label class="radio-inline"><input type="radio" name="'.$value->name.'" value="'.$value2.'">'.$value2.'</label>';
                								}
            								}
            						     {/php}
				                    </div>
			                	</div>
			                </div>
		                	{/if}
		                	
		                    {if($value->type==4)}
		                	<div class="row">
		                		<div class="form-group col-sm-6">
			                		<label for="title">[value->description]</label>
			                		<div>
			                			{php}
			                				$checkboxs=explode(',',$value->value);
			                				$name=$value->name;
			                				$values=explode(',',$this->vars['content']->$name);
			                				foreach ($checkboxs as $value2) {
			                					if(in_array($value2,$values)){
            										echo '<label class="checkbox-inline"><input type="checkbox" name="'.$value->name.'[]" value="'.$value2.'" checked>'.$value2.'</label>';
            									}else{
            										echo '<label class="checkbox-inline"><input type="checkbox" name="'.$value->name.'[]" value="'.$value2.'">'.$value2.'</label>';
            									}
            								}
            						     {/php}
				                    </div>
			                	</div>
			                </div>
		                	{/if}
		                	
		                	{if($value->type==5)}
		                	<div class="row">
			                	 <div class="form-group col-sm-6">
				               		 <label for="ico">[value->description]</label>
				               		 <div class="input-group">
					               		 <input type="text" name="[value->name]" id="[value->name]" value="{$content->{$value->name}}" class="form-control">  
					               		 <div class="input-group-btn">
					               		 	<button type="button" class="btn btn-primary upload" data-target="#[value->name]">选择图片</button>
					               		</div>
				               		</div>
				                </div>
			                </div>
		                	{/if}
		                	
		                	{if($value->type==6)}
		                	<div class="row">
			                	 <div class="form-group col-sm-6">
				               		 <label for="ico">[value->description]</label>
				               		 <div class="input-group">
					               		 <input type="text" name="[value->name]" id="[value->name]" value="{$content->{$value->name}}" class="form-control">  
					               		 <div class="input-group-btn">
					               		 	<button type="button" class="btn btn-primary file" data-target="#[value->name]">选择文件</button>
					               		</div>
				               		</div>
				                </div>
			                </div>
		                	{/if}
		                	
		                	{if($value->type==7)}
		                	<div class="row">
			                	 <div class="form-group col-sm-6">
				               		<label for="ico">[value->description]</label>
				               		<div class="input-group date form_datetime"  data-link-field="[value->name]">
					                    <input class="form-control" size="16" type="text" value="{$content->{$value->name}}" readonly>
					                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
										<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					                </div>
									<input type="hidden" id="[value->name]" name="[value->name]" value="{$content->{$value->name}}" />
				                </div>
			                </div>
		                	{/if}
		                	
		                {/foreach}
		                
		                <div class="row">
			                <div class="form-group col-xs-12">
			                	<label for="content">内容</label>
			                	<script type="text/plain" id="editor" name="content" style="width:100%;height:240px;">{fun=decode_string([$content->content])}</script>
			                </div>
		                </div>
		                
		                <div class="row">
				            <div class="form-group col-sm-6">
			               		 <label for="ico">缩略图</label>
			               		 <div class="input-group">
				               		 <input type="text" name="ico" id="ico" value="{$content->ico}" class="form-control">  
				               		 <div class="input-group-btn">
				               		 	<button type="button" class="btn btn-primary upload" data-target="#ico">选择图片</button>
				               		</div>
			               		</div>
			                </div>
			                <div class="form-group col-sm-6">
			               		 <label for="pics">轮播多图</label>
			               		 <div class="input-group">
				               		 <input type="text" name="pics" id="pics" value="{$content->pics}" class="form-control">  
				               		 <div class="input-group-btn">
				               		 	<button type="button" class="btn btn-primary uploads" data-target="#pics">选择图片</button>
				               		</div>
			               		</div>
			                </div>
		                </div>				    
				    </div>
				    
				     <div role="tabpanel" class="tab-pane" id="senior">
				     	<div class="row">
			                <div class="form-group col-sm-6">
			                	<label for="titlecolor">标题颜色</label>
			                	<div class="color input-group colorpicker-component" data-color="{$content->titlecolor}">
									<input type="text" value="{$content->titlecolor}" name="titlecolor" class="form-control"/>
									<span class="input-group-addon"><i></i></span>
								</div>
			                </div>
			                <div class="form-group col-sm-6">
			                	<label for="subtitle">副标题</label>
			                    <input type="text" name="subtitle" value="{$content->subtitle}" class="form-control">
			                </div>
		                </div>
		
		                <div class="row">
			                <div class="form-group col-sm-6">
			                	<label for="author">作者</label>
			                    <input type="text" name="author" value="{$content->author}" class="form-control">
			                </div>
			                <div class="form-group col-sm-6">
			                	<label for="source">来源</label>
			                    <input type="text" name="source" value="{$content->source}" class="form-control">
			                </div>
		                </div>
		                
		                <div class="row">
			                <div class="form-group col-sm-6">
			                	<label for="outlink">转外链接</label>
			                    <input type="text" name="outlink" value="{$content->outlink}" class="form-control">
			                </div>
			                <div class="form-group col-sm-6">
				                <label for="date">发布时间</label>
				                <div class="input-group date form_datetime"  data-link-field="date">
				                    <input class="form-control" size="16" type="text" value="{$content->date}" readonly>
				                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				                </div>
								<input type="hidden" id="date" name="date" value="{$content->date}" />
				            </div>
		                </div>
		
		                <div class="row">
			                <div class="form-group col-sm-6">
			               		 <label for="enclosure">附件</label>
			               		 <div class="input-group">
				               		 <input type="text" name="enclosure" id="enclosure" value="{$content->enclosure}" class="form-control">  
				               		 <div class="input-group-btn">
				               		 	<button type="button" class="btn btn-primary file" data-target="#enclosure">选择附件</button>
				               		</div>
			               		</div>
			                </div>
			                <div class="form-group col-sm-6">
			                	<label>状态</label>
			                    <div>
			                    	<label class="radio-inline"><input type="radio" name="status" value="1" {if([$content->status]==1)} checked="checked"{/if}>发布</label>
			                    	<label class="radio-inline"><input type="radio" name="status" value="0" {if([$content->status]==0)} checked="checked"{/if}>不发布</label>
			                    </div>
			                </div>
		                </div>
		                
		    			<div class="row">
			                <div class="form-group col-xs-12">
			                	<label for="keywords">关键字</label>
			                    <input type="text" name="keywords" value="{$content->keywords}" class="form-control">
			                </div>
		                </div>
		                
		                <div class="row">
			                <div class="form-group col-xs-12">
			                	<label for="description">描述</label>
			                	<textarea name="description" class="form-control">{$content->description}</textarea>
			                </div>
		                </div>
		                
				     </div>
				</div>
 				<button type="submit"  class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> 保 存</button>
            </form>
       </div>
    </div>
   
	{/if} 

</div>

{include file='common/ueditor.html'}
{include file='common/datatime.html'}
{include file='common/color.html'}
{include file='common/upload.html'}
{include file='common/foot.html'}
