{include file='common/head.html'}

<div class="container">
	<div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-list" aria-hidden="true"></i> 快捷操作</div>
        <div class="panel-body">
            {foreach $shortcuts(key,value)}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="{url.'.$value->url.'}">
                    <dl class="deskbox center-block" style="background: [value->color];">
                        <dd>
                            <i class="fa [value->ico]" aria-hidden="true"></i>
                        </dd>
                        <dt>[value->name]</dt>
                    </dl>
                </a>
             </div>
            {/foreach}
            
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="{url./admin/index/index}">
                    <dl class="deskbox center-block" style="background: #888888">
                        <dd>
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </dd>
                        <dt>刷新</dt>
                    </dl>
                </a>
            </div>
         </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-list" aria-hidden="true"></i> 系统信息</div>
        <div class="panel-body">
         	<div class="row">
         	 	<dl class="dl-horizontal col-sm-6">
                    <dt>应用版本：</dt>
                    <dd>{APP_VERSION}</dd>
                </dl>
                <dl class="dl-horizontal col-sm-6">
                    <dt>框架版本：</dt>
                    <dd>{CORE_VERSION}</dd>
                </dl>
            </div>
            <div class="row">
                <dl class="dl-horizontal col-sm-6">
                    <dt>主机系统：</dt>
                    <dd>{$server->php_os}</dd>
                </dl>
				<dl class="dl-horizontal col-sm-6">
                     <dt>主机名称：</dt>
                     <dd>{$server->server_name}</dd>
                 </dl>
            </div>

            <div class="row">
                 <dl class="dl-horizontal col-sm-6">
                     <dt>主机地址：</dt>
                     <dd>{$server->server_addr}:{$server->server_port}</dd>
                 </dl>
                 <dl class="dl-horizontal col-sm-6">
                    <dt>WEB软件：</dt>
                    <dd>{$server->server_software}</dd>
                </dl>
            </div>
            
            <div class="row">
               <dl class="dl-horizontal col-sm-6">
                   <dt>PHP版：</dt>
                   <dd>{$server->php_version}</dd>
               </dl>
           
               <dl class="dl-horizontal col-sm-6">
                   <dt>数据库驱动：</dt>
                   <dd>{$server->db_driver}</dd>
               </dl>
            </div>

            <div class="row">
                 <dl class="dl-horizontal col-sm-6">
                     <dt>文件上传限制：</dt>
                     <dd>{$server->upload_max_filesize}</dd>
                 </dl>
                 
                 <dl class="dl-horizontal col-sm-6">
                     <dt>表单提交限制：</dt>
                     <dd>{$server->post_max_size}</dd>
                 </dl>
            </div>
        </div>
    </div>  
    
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-list" aria-hidden="true"></i> 开发团队</div>
        <div class="panel-body">
         	<div class="row">
                <dl class="dl-horizontal col-sm-6">
                    <dt>版权所有：</dt>
                    <dd>长沙翱云网络科技有限公司</dd>
                </dl>
            
                <dl class="dl-horizontal col-sm-6">
                    <dt>系统开发：</dt>
                    <dd>星梦开源团队</dd>
                </dl>
            </div>
            
            <div class="row">
            	<dl class="dl-horizontal col-sm-6">
                    <dt>官方网站：</dt>
                    <dd><a href="http://www.pbootcms.com" target="_blank">www.pbootcms.com</a></dd>
                </dl>
                <dl class="dl-horizontal col-sm-6">
                    <dt>技术交流群：</dt>
                    <dd>137083872</dd>
                </dl>
            </div>
            
            <div class="row">
                <dl class="dl-horizontal col-xs-12">
                    <dt>感谢贡献者：</dt>
                    <dd>感谢晨星傲月、富派仙尊、紫雨、远方的回忆、果爸、Jiang、江苏360搜索推广陈杭、书生会武术、六水水炸了等对于系统开发过程中的积极贡献，感谢交流群各位网友的大力支持及问题反馈！</dd>
                </dl>
            </div>
            
        </div>
    </div>          

</div>

{include file='common/foot.html'}
