{include file='common/head.html'}

<div class="container">
	{if([$list])}
    <div class="panel panel-default">
        <div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> <a href="{url./admin/Menu/index}">菜单列表</a> 
            <span class="pull-right">{fun=get_btn_add()}</span>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>菜单名称</th>
                        <th>菜单编码</th>
                        <th>父编码</th>
                        <th>排序</th>
                        <th>URL</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {foreach $menus(key,value)}
                    <tr>
                        <td>[num]</td>
                        <td>
                            [value->blank]
                            {if($value->son)}
                                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            {else}
                                <i class="fa fa-folder-o" aria-hidden="true"></i>
                            {/if}
                            [value->name]</td>
                        <td>[value->mcode]</td>
                        <td>[value->pcode]</td>
                        <td>[value->sorting]</td>
                        <td>[value->url]</td>
                        <td>
                            {if($value->status)}
                            <a href="{url./admin/'.C.'/mod/mcode/'.$value->mcode.'/field/status/value/0}"><i class='fa fa-toggle-on' title="点击关闭"></i></a>
                            {else}
                            <a href="{url./admin/'.C.'/mod/mcode/'.$value->mcode.'/field/status/value/1}"><i class='fa fa-toggle-off' title="点击开启"></i></a>
                            {/if}
                        </td>
                        <td>
                            {fun=get_btn_del($value->mcode,'mcode')}
                            {fun=get_btn_mod($value->mcode,'mcode')}
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
     </div>
	{/if} 
	
	{if([$add])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> 菜单新增 
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body">
            <form action="{url./admin/menu/add}" method="post" class="col-sm-6">
            	<div class="form-group">
                     <label for="acode">菜单编码</label>
                     <input type="text" id="acode" value="自动编码" readonly class="form-control readonly">
                </div>
                
                <div class="form-group">
                     <label for="pcode">父菜单</label>
                     <select name="pcode" id="pcode" class="form-control">
                        <option value="0">顶级菜单 
                        {$menu_select}
                    </select>
                </div>
                
                <div class="form-group">
                	<label for="name">菜单名称</label>
                    <input type="text" name="name" id="name"  class="form-control checknone">
                </div>
                
                <div class="form-group">
                	<label for="url">URL</label>
                    <input type="text" name="url" id="url"  class="form-control">
                </div>
                
                <div class="form-group">
                	<label for="sorting">排序</label>
                    <input type="text" name="sorting" id="sorting"  value="255" class="form-control">
                </div>
                
                <div class="form-group">
                	<label>状态</label>
                    <div>
                       <label class="radio-inline"><input type="radio" name="status" value="1" checked="checked">启用</label>
                       <label class="radio-inline"><input type="radio" name="status" value="0">禁用</label>
                    </div>
                </div>
                
                <div class="form-group">
                	<label>桌面快捷图</label>
                    <div>
                    	<label class="radio-inline"><input type="radio" name="shortcut" value="1">是</label>
                    	<label class="radio-inline"><input type="radio" name="shortcut" value="0" checked="checked">否</label>
                    </div>
                </div>
                
                <div class="form-group">
                	<label for="ico">快捷图标</label>
                    <input type="text" name="ico" id="ico"  class="form-control">
                </div>
                
                <div class="form-group">
                	<label>功能按钮</label>
                	<div>
                    	{foreach $actions(key,value)}
                    	<label class="checkbox-inline"><input type="checkbox" value="[value->value]" name="actions[]" class="checkbox" id="[value->value]">[value->item]</label>
                        {/foreach}
                	</div>
                </div>
                
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> 新 增</button>
            </form>
        </div>
    </div>
	{/if}
	
	{if([$mod])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> 菜单修改
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body">
            <form action="{url./admin/menu/mod/mcode/'.[$get.mcode].'}" method="post" class="col-sm-6">
                <table class="table2">
                    <div class="form-group">
                     <label for="acode">菜单编码</label>
                     <input type="text" id="acode" value="{$menu->mcode}" readonly class="form-control readonly">
                </div>
                
                <div class="form-group">
                     <label for="pcode">父菜单</label>
                     <select name="pcode" id="pcode" class="form-control">
                        <option value="0">顶级菜单 
                        {$menu_select}
                    </select>
                </div>
                
                <div class="form-group">
                	<label for="name">菜单名称</label>
                    <input type="text" name="name" id="name" value="{$menu->name}"  class="form-control checknone">
                </div>
                
                <div class="form-group">
                	<label for="url">URL</label>
                    <input type="text" name="url" id="url"  value="{$menu->url}" class="form-control">
                </div>
                
                <div class="form-group">
                	<label for="sorting">排序</label>
                    <input type="text" name="sorting" id="sorting"  value="{$menu->sorting}"  class="form-control">
                </div>
                
                <div class="form-group">
                	<label>状态</label>
                     <div>
                       <label class="radio-inline"><input type="radio" name="status" value="1" {if([$menu->status]==1)}checked{/if}>启用</label>
                       <label class="radio-inline"><input type="radio" name="status" value="0" {if([$menu->status]==0)}checked{/if}>禁用</label>
                    </div>
                </div>
                
                <div class="form-group">
                	<label>桌面快捷图</label>
                     <div>
                       <label class="radio-inline"><input type="radio" name="shortcut" value="1" {if([$menu->shortcut]==1)}checked{/if}>是</label>
                       <label class="radio-inline"><input type="radio" name="shortcut" value="0" {if([$menu->shortcut]==0)}checked{/if}>否</label>
                    </div>
                </div>
                
                <div class="form-group">
                	<label for="ico">快捷图标</label>
                    <input type="text" name="ico" id="ico" value="{$menu->ico}"   class="form-control">
                </div>
                
                <div class="form-group">
                	<label>功能按钮</label>
                	<div>
                    	{foreach $actions(key,value)}
                    	<label class="checkbox-inline"><input type="checkbox" {if(in_array($value->value,[$menu->actions]))}checked="checked"{/if} value="[value->value]" name="actions[]" class="checkbox" id="[value->value]">[value->item]</label>
                        {/foreach}
                	</div>
                </div>
                
				<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> 保 存</button>
            </form>
        </div>
    </div>
	{/if} 
    
</div>

{include file='common/foot.html'}
