{include file='common/head.html'}

<div class="container">
	<div class="panel panel-default">
    	<div class="panel-heading"><i class="fa fa-list" aria-hidden="true"></i> 系统设置</div>
   		<div class="panel-body">
            <form action="{url./admin/Site/mod}" method="post">
                <div class="row">
                    <div class="form-group col-sm-6">
                         <label for="title">站点标题</label>
                        <input type="text" name="title" class="form-control" id="title" value="{$sites->title}" placeholder="请输入站点标题">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="subtitle">站点副标题</label>
                        <input type="text" name="subtitle" class="form-control" id="subtitle" value="{$sites->subtitle}" placeholder="请输入站点描述">
                    </div>
                </div>
                
                <div class="row">
                	<div class="form-group col-sm-6">
                        <label for="domain">站点域名</label>
                        <input type="text" name="domain" class="form-control" id="domain" value="{$sites->domain}" placeholder="请输入站点域名">
                    </div>
                    <div class="form-group col-sm-6">
	                	<label for="logo">站点LOGO</label>
	                	<div class="input-group">
		               		 <input type="text" name="logo" id="logo" value="{$sites->logo}" class="form-control">  
		               		 <div class="input-group-btn">
		               		 	<button type="button" class="btn btn-primary upload" data-target="#logo">选择图片</button>
		               		</div>
	               		</div>
	                </div>
                </div>
                
                <div class="row"> 
                	 <div class="form-group col-sm-6">
                        <label for="keywords">站点关键字</label>
                    	<textarea name="keywords" class="form-control" id="keywords" placeholder="请输入站点关键字">{$sites->keywords}</textarea>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="description">站点描述</label>
                        <textarea name="description" class="form-control" id="description" placeholder="请输入站点描述">{$sites->description}</textarea>
                    </div>
                   
                </div>
                
                <div class="row">
                   <div class="form-group col-sm-6">
                        <label for="icp">站点备案</label>
                        <input type="text" name="icp" class="form-control" id="icp" value="{$sites->icp}" placeholder="请输入站点备案">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="theme">站点主题</label>            
                        <select name="theme" class="form-control" id="theme"> 
                            {foreach $themes(key,value)} 
                                {if($value == [$sites->theme])}
                                    <option value="[value]" selected='selected'>[value]</option> 
                                {else}
                                    <option value="[value]">[value]</option> 
                                {/if}
                            {/foreach}
                       </select>
                    </div>
                </div>
                
                <div class="row">
                	<div class="form-group col-sm-6">
                        <label for="statistical">统计代码</label>
                        <textarea name="statistical" class="form-control" id="statistical" placeholder="请输入统计代码">{$sites->statistical}</textarea>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="copyright">尾部信息</label>
                        <textarea name="copyright" class="form-control" id="copyright" placeholder="请输入版权信息">{$sites->copyright}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> 保 存</button>
            </form>
         </div>
    </div>
</div>

{include file='common/upload.html'}
{include file='common/foot.html'}
