{include file='common/head.html'}

<div class="container">
    {if([$list])}
    <div class="panel panel-default">
        <div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> <a href="{url./admin/User/index}">用户列表</a> 
            <span class="pull-right">{fun=get_btn_add()}</span>
        </div>
        
		<div class="panel-body row">
        	<form action="{url./admin/user/index}" method="get" class="col-sm-6">
       			<div class="input-group">  
			        <div class="input-group-btn">
				        <select name="field" class="form-control" style="width:auto;">
                            <option value="ucode" {if(get('field')=='ucode')}selected="selected" {/if} >用户编码</option>
							<option value="username" {if(get('field')=='username')}selected="selected" {/if}>用户名</option>
                        </select>
			        </div>
				    <input type="text" name="keyword" class="form-control"  value="{$get.keyword}" placeholder="请输入要查找的内容！">
				    <div class="input-group-btn"><button type="submit" class="btn btn-default">查找</button></div>
			    </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>序号</th>
                    <th>用户编码</th>
                    <th>用户名</th>
                    <th>真实名字</th>
                    <th>状态</th>
                    <th>用户角色</th>
                    <th>登录次数</th>
                    <th>最后登录IP</th>
                    <th>添加人员</th>
                    <th>修改人员</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                
                {foreach $users(key,value,num)}
                <tr>
                    <td>[num]</td>
                    <td>[value->ucode]</td>
                    <td>[value->username]</td>
                    <td>[value->realname]</td>
                    <td>
                        {if($value->status)}
                        <a href="{url./admin/'.C.'/mod/ucode/'.$value->ucode.'/field/status/value/0}"><i class='fa fa-toggle-on' title="点击关闭"></i></a>
                        {else}
                        <a href="{url./admin/'.C.'/mod/ucode/'.$value->ucode.'/field/status/value/1}"><i class='fa fa-toggle-off' title="点击开启"></i></a>
                        {/if}
                    </td>
                    <td>[value->rolename]</td>
                    <td>[value->login_count]</td>
                    <td>{fun=@long2ip($value->last_login_ip)}</td>
                    <td>[value->create_user]</td>
                    <td>[value->update_user]</td>
                    <td>[value->create_time]</td>
                    <td>
                        {fun=get_btn_del($value->ucode,'ucode')}
                        {fun=get_btn_mod($value->ucode,'ucode')}
                    </td>
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
    <div class="page">{$pagebar}</div>
    {/if}

    {if([$add])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> 用户新增 
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body">
            <form action="{url./admin/user/add}" method="post" class="col-sm-6">
            	<div class="form-group">
                	<label for="ucode">用户编码</label>
                    <input type="text"  id="ucode" value="自动编码" readonly class="readonly form-control">
                </div>
                
                <div class="form-group">
                	<label for="username">用户名</label>
                    <input type="text" name="username" id="username"  class="form-control checknone">
                </div>
                
                <div class="form-group">
                	<label for="realname">真实姓名</label>
                    <input type="text" name="realname" id="realname"  class="form-control checknone">
                </div>
                
                <div class="form-group">
                	<label for="password">密码</label>
                    <input type="password" name="password" id="password"  class="form-control checknone">
                </div>
                
                <div class="form-group">
                	<label for="rpassword">确认密码</label>
                    <input type="password" name="rpassword" id="rpassword"  class="form-control checknone">
                </div>
                
                <div class="form-group">
                	<label>状态</label>
                    <div>
                    	<label class="radio-inline"><input type="radio" name="status" value="1" checked="checked">启用</label>
                    	<label class="radio-inline"><input type="radio" name="status" value="0">禁用</label>
                    </div>
                </div>
                
                <div class="form-group">
                	<label>用户角色</label>
                    <select name="roles[]" class="form-control">
                        {foreach $roles(key,value)}
                            <option value="[value->rcode]">[value->name]
                        {/foreach}
                    </select>
                </div>
                
                 <button type="submit"  class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> 新 增</button>
            </form>
       </div>
    </div>
    {/if}

    {if([$mod])}
    <div class="panel panel-default">
     	<div class="panel-heading">
        	<i class="fa fa-list" aria-hidden="true"></i> 用户修改 
        	<span class="pull-right">{fun=get_btn_back()}</span>
        </div>
        <div class="panel-body">
            <form action="{url./admin/user/mod/ucode/'.[$get.ucode].'}?{$server.QUERY_STRING}" method="post" class="col-sm-6">
            	<div class="form-group">
                	<label for="ucode">用户编码</label>
                    <input type="text"  id="ucode" value="{$user->ucode}"  readonly class="readonly form-control">
                </div>
                
                <div class="form-group">
                	<label for="username">用户名</label>
                    <input type="text" name="username" id="username" value="{$user->username}" class="form-control checknone">
                </div>
                
                <div class="form-group">
                	<label for="realname">真实姓名</label>
                    <input type="text" name="realname" id="realname" value="{$user->realname}" class="form-control checknone">
                </div>
                
                <div class="form-group">
                	<label for="password">密码</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                
                <div class="form-group">
                	<label for="rpassword">确认密码</label>
                    <input type="password" name="rpassword" id="rpassword" class="form-control">
                </div>
                
                <div class="form-group">
                	<label>状态</label>
                    <div>
                    	<label class="radio-inline"><input type="radio" name="status" value="1" {if([$user->status]==1)}checked{/if}>启用</label>
                    	<label class="radio-inline"><input type="radio" name="status" value="0" {if([$user->status]==0)}checked{/if}>禁用</label>
                    </div>
                </div>
                
                <div class="form-group">
                	<label>用户角色</label>
                    <select name="roles[]" class="form-control">
                        {foreach $roles(key,value)}
                            <option value="[value->rcode]" {if(in_array($value->rcode,[$user->rcodes]))}selected{/if}>[value->name]
                        {/foreach}
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> 保 存</button>
            </form>
        </div>
    </div>
    {/if}
 
</div>

{include file='common/foot.html'}
