</div>

<div style="background:#252525;padding:20px 0;">
    <div class="uk-container uk-container-center uk-text-center">
        <ul class="uk-subnav uk-subnav-line uk-flex-center">
        	{pboot:nav parent=0}
            	<li><a href="[nav:link]">[nav:name]</a></li>
            {/pboot:nav}
        </ul>

        <div class="uk-panel">
            <div>{pboot:sitecopyright} </div>
            <div>Processed in {pboot:runtime} second(s)</div>
        </div>
    </div>
</div>
{pboot:sitestatistical}
</body>
</html>