 {include file=head.html}
 
 <div class="uk-container uk-container-center">
 	<p></p>
 	<h1>{sort:name}</h1>
 	  <p>
	   	类型：{pboot:selectall field=ext_type text=全部}|
	   {pboot:select field=ext_type}
	   	   {pboot:if([select:i]>1)}|{/pboot:if} 
	       <a href= "[select:link]" {pboot:if('[select:value]'=='[select:current]')}class="active" {/pboot:if}>[select:value]</a>
	   {/pboot:select}
	  </p>
	  
	  <p>
	   	颜色：{pboot:selectall field=ext_color text=全部}|
	   {pboot:select field=ext_color}
	   	   {pboot:if([select:i]>1)}|{/pboot:if} 
	       <a href= "[select:link]" {pboot:if('[select:value]'=='[select:current]')}class="active" {/pboot:if}>[select:value]</a>
	   {/pboot:select}
	  </p>
	  

	{pboot:list num=9 order=date}
		<a href="[list:link]">
			<div class="uk-thumbnail uk-thumbnail-small" style="margin:10px;">
		    	<img src="[list:ico]" alt="[list:title]">
		    	<div class="uk-thumbnail-caption">
		    		[list:title] &nbsp;&nbsp;￥[list:ext_price]
		    	</div>
			</div>
		</a>
	{/pboot:list}
	
	<div class="page">{page:bar}</div>

 </div>
 
 {include file=foot.html}