<!-- Bootstrap Datetimepicker-->
<link type="text/css" href="{APP_THEME_DIR}/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript" src="{APP_THEME_DIR}/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{APP_THEME_DIR}/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="{APP_THEME_DIR}/datetimepicker/js/format.js"></script>
<!-- Bootstrap Datetimepicker End-->