<div style="height: 40px;"></div>
<div class="foot navbar-blue">Copyright &copy; 2018-2019 PbootCMS All Rights Reserved.</div>
<!--Bootstrap-->
<!--[if lt IE 9]>
  <script src="{APP_THEME_DIR}/bootstrap/js/html5shiv.min.js"></script>
  <script src="{APP_THEME_DIR}/bootstrap/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="{APP_THEME_DIR}/bootstrap/js/bootstrap.min.js"></script>
<!--Bootstrap END-->
<script type="text/javascript" src="{APP_THEME_DIR}/js/comm.js"></script>
</body>
</html>
